@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 2s infinite alternate;
	stroke-width: 2;
	stroke: $eletricBlue2;
	font-size: 40px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: $eletricBlue;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: $eletricBlue; }
	80%  {fill: rgba(72,138,204,0); stroke: $eletricBlue; stroke-width: 3; }
	100% {
		fill: $eletricBlue2; stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {
	background-color: transparent;	
}
