.CVButton {
  border-radius: 15px !important;
  padding: 18px 15px !important;
  background: $BGColor2 !important;
  border: 2px solid $BGColor2;
  margin: 35px;
  font-weight: bold;
  color: $BGColor1dark !important;
}

.CVButton:hover {
  background-color: $BGColor2dark !important;
  color: $BGColor1dark !important;
  border: 2px solid $BGColor2dark;
  scale: 1.1;
}

.CVButton:active {
  background-color: $BGColor1 !important;
  color: $BGColor2 !important;
  border: 2px solid $BGColor2;
}

.ContactButton {
  border-radius: 15px !important;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 30px !important;
  margin: 10px 0 50px;
  background-color: $BGColor2;
  box-sizing: border-box;
  color: $BGColor1dark !important;
  outline: none;
}

.ContactButton:hover {
  background-color: $BGColor2dark !important;
  color: $BGColor1dark !important;
  border: 2px solid $BGColor2dark;
  scale: 1.1;
}

.ContactButton:active {
  background-color: $BGColor1 !important;
  color: $BGColor2 !important;
  border: 2px solid $BGColor2;
}

.themeButton {
  border-radius: 15px !important;
  font-weight: bold;
  padding: 18px 25px !important;
  margin: 35px;
  background-color: $BGColor3;
  box-sizing: border-box;
  color: $BGColor1dark !important;
  outline: none;
}

.themeButton:hover {
  background-color: $BGColor3dark !important;
  color: $BGColor1dark !important;
  scale: 1.1;
}

.themeButton:active {
  background-color: $BGColor3dark !important;
  color: $BGColor1 !important;
}
