.CVButtonDark {
  border-radius: 5px !important;
  padding: 10px 10px !important;
  background: $BGColor2 !important;
  border: 2px solid $BGColor2;
  margin: 35px;
  font-weight: bold;
  color: $BGColor1dark !important;
}

.CVButtonDark:hover {
  background-color: $BGColor2dark !important;
  color: $BGColor1dark !important;
  border: 2px solid $BGColor2dark;
  scale: 1.1;
}

.CVButtonDark:active {
  background-color: $BGColor1 !important;
  color: $BGColor2 !important;
  border: 2px solid $BGColor2;
}

.CVButtonLight {
  border-radius: 5px !important;
  padding: 10px 10px !important;
  background: $LGColor2dark !important;
  border: 2px solid $LGColor2dark;
  margin: 35px;
  font-weight: bold;
  color: $LGColor1 !important;
}

.CVButtonLight:hover {
  background-color: $LGColor2 !important;
  color: $LGColor1 !important;
  border: 2px solid $LGColor2;
  scale: 1.1;
}

.CVButtonLight:active {
  background-color: $LGColor1 !important;
  color: $LGColor2dark !important;
  border: 2px solid $LGColor2dark;
}

@media screen and (max-width: 600px) {
  .CVButtonDark {
    padding: 5px 5px !important;
    margin: 40px 35px;
  }

  .CVButtonLight {
    padding: 5px 5px !important;
    margin: 40px 35px;
  }
}

.ContactButton {
  border-radius: 15px !important;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 30px !important;
  margin: 10px 0 50px;
  background-color: $BGColor2;
  box-sizing: border-box;
  color: $BGColor1dark !important;
  outline: none;
}

.ContactButton:hover {
  background-color: $BGColor2dark !important;
  color: $BGColor1dark !important;
  border: 2px solid $BGColor2dark;
  scale: 1.1;
}

.ContactButton:active {
  background-color: $BGColor1 !important;
  color: $BGColor2 !important;
  border: 2px solid $BGColor2;
}

.ContactButton2 {
  border-radius: 15px !important;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 30px !important;
  margin: 10px 0 50px;
  background-color: $LGColor2dark;
  box-sizing: border-box;
  color: $LGColor1 !important;
  outline: none;
}

.ContactButton2:hover {
  background-color: $LGColor2 !important;
  color: $LGColor1 !important;
  border: 2px solid $LGColor2;
  scale: 1.1;
}

.ContactButton2:active {
  background-color: $LGColor1 !important;
  color: $LGColor2dark !important;
  border: 2px solid $LGColor2dark;
}

.themeButton {
  border-radius: 15px !important;
  font-weight: bold;
  padding: 18px 25px !important;
  margin: 35px;
  background-color: $BGColor3;
  box-sizing: border-box;
  color: $BGColor1dark !important;
  outline: none;
}

.themeButton:hover {
  background-color: $BGColor3dark !important;
  color: $BGColor1dark !important;
  scale: 1.1;
}

.themeButton:active {
  background-color: $BGColor3dark !important;
  color: $BGColor1 !important;
}
