// New color
$darkBlue: #0C46B9;
$limeGreen: #CCF281;
$limeGreen2: #b7f739;
$eletricBlue:#4832D5;
$eletricBlue2:#3720cf;

// Dark mode
$BGColor1: #111920;
$BGColor1dark: #071723;
$BGColor2: #fbe525;
$BGColor2dark: #fee501;
$BGColor3: #B1DDF1;
$BGColor3light: #c6e3f1;
$BGColor3dark: #4fbdf0;

// Light mode
$LGColor1: #D5E0FF;
$LGColor1dark: #779bff;
$LGColor1Light: #f5f7fd;
$LGColor2: #9351fe;
$LGColor2dark: #2F1C6B;


// Old color
$bgGrey: #f7f8fa;
$bgWhite: white;
$grey0: grey;
$grey1:rgba(180,180,180,180);
$grey2:rgba(220,220,220,220);
$grey3:#eeeff1;
$redDanger: #ed3b44;
$lightRedDanger: #f76970;
$VeryLightRedDanger: #fae5ec;
$yellowWarming: #E9D502;
$lightYellowWarning: #f7ec79;
$VeryLightYellowWarning: #fef1da;
$greenCreditCard: #046c53;
$greenSuccess: #1bbb89;
$lightGreenSuccess: #75fad0;
$VeryLightGreenSuccess: #e7fae5;
$LogoColorDark: #210070;
$LogoColorDark2: #3c03c2;
$LogoColorDark3: #1B2959;
$LogoColorBright: #7AD9C4;
$LogoColorBright2: #adecdf;
