.lightTheme {
  color: $LGColor2dark !important;
  background: $LGColor1 !important;
}

.themeIcon {
  font-size: 40px;
  margin-top: -10px;
  margin-right: 25px;
}

.themeIcon:hover {
  scale: 1.1;
}
