// color setting
@import "colors";

// font setting
@import "fontSetting";

// animation
@import "animation";

// button
@import "button";

// theme
@import "theme";

// navBar
@import "navbar";
// navBar
@import "footer";

body {
  padding: 0;
  margin: 0;
  background: $BGColor1;
  color: $BGColor2;
}

.pagePadding {
  padding: 0 15%;
}

.nameTitle {
  margin-top: 100px;
}

.myImage {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px black;
}

.skillSpace {
  width: 100px;
}
@media screen and (min-width: 1199px) and (max-width: 1450px) {
  .nameTitleFont {
    font-size: 2.2rem;
  }
  svg text {
    font-size: 30px;
  }

  .pagePadding {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1200px) {
  .myImage {
    margin: 100px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1000px) {
  .nameTitleFont {
    font-size: 2.2rem;
  }
  svg text {
    font-size: 30px;
  }
}

@media screen and (max-width: 770px) {
  .nameTitleFont {
    font-size: 2rem;
  }
  
  svg text {
    font-size: 25px;
  }

  .myImage {
    width: 150px;
    margin: 30px 0 0px;
  }

  .wrapper {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 500px) {
  .nameTitleFont {
    font-size: 1.3rem;
  }

  svg text {
    font-size: 18px;
  }

  .myImage {
    width: 150px;
  }
}

.skillSpace:hover {
  scale: 1.2;
}

.skillText {
  font-weight: 800;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  margin: 0 0 5px;
}

.skillText:hover {
  color: $BGColor3;
}

.skillText2 {
  font-weight: 800;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
  margin: 0 0 5px;
}

.skillText2:hover {
  color: $redDanger;
}

.skillIcon {
  width: 50px;
}
.projectImg {
  width: 100%;
  border-radius: 8px;
}

.boxDim {
  width: 200px;
}

.boxStyle:hover {
  scale: 1.1;
}

.formInput {
  width: 600px;
  font-size: 18px;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 10px;
  background-color: $BGColor1dark;
  outline: none;
  color: $BGColor2;
  border: 2px solid $BGColor2;
}

.formInput:hover {
  scale: 1.02;
}

.formInput::placeholder {
  opacity: 0.5;
  color: $BGColor3;
}

.formInput2 {
  width: 600px;
  font-size: 18px;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 10px;
  background-color: $LGColor1dark;
  outline: none;
  color: $LGColor2dark;
  border: 2px solid $LGColor2dark;
}

.formInput2:hover {
  scale: 1.02;
}

.formInput2::placeholder {
  opacity: 0.8;
  color: $LGColor2;
}

@media screen and (max-width: 770px) {
  .formInput{
    width:400px;
    font-size: 15px;
  }

  .formInput2{
    width:400px;
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .formInput{
    width:250px;
    font-size: 15px;
  }

  .formInput2{
    width:250px;
    font-size: 15px;
  }
}